.copy-btn {
    background-color: #14b8a6;
    color: black;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.copy-btn:hover {
    background-color: #2dd4bf;
}
